/* Modal.module.css */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modalContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 55%;
  max-height: 80%;
  position: relative;
  /* overflow: auto; */
}

.modalContent .text {
  flex: 1;
  padding: 20px;
  /* overflow: auto; */
}

.modalContent .text h2 {
  padding: 0.625rem;
}

.modalContent .text p {
  font-size: 0.9rem;
  padding: 0.625rem;
}

.modalContent .logo {
  flex: 1;
  padding-left: 20px;
  /* text-align: right; */
  position: relative;
  width: 100%;
  height: 500px;
}

.logoCredits {
  font-size: 8px;
}

.modalContent button {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  cursor: pointer;
  background-color: whitesmoke;
  padding: 0.4rem 0.7rem;
  border-radius: 5px;
  z-index: 20;
  transition: all 0.3s ease-out;
}

.modalContent button:hover {
  transform: scale(1.05);
  background-color: red;
  color: var(--clr-white);
}

:is(.text, p) {
  line-height: 1.35rem;
}

.bolded {
  font-weight: 500;
}

/*Responsive*/
@media (max-width: 850px) {
  .modalContent {
    display: flex;
    flex-direction: column-reverse;
    max-width: 80%;
    max-height: 80%;
  }

  .modalContent .text p {
    font-size: 0.7rem;
    padding: 0.625rem;
  }

  .modalContent .logo {
    flex: inherit;
    padding-left: 0;
  }

  .modalContent .text {
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .modalContent .text {
    padding: 0;
  }

  .modalContent .text p {
    font-size: 0.7rem;
  }
}
